/* General */
html {-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body { height: 100vh; color: #1f1f1f; background: white;font-family: 'Nunito Sans', sans-serif;margin: 0; }
main {width: 75%;margin: 0 auto; text-align: justify;}

/* Navigation */
nav {height: 65px;width: 75%;margin: 0 auto; background: rgb(231, 219, 219);font-size: 16px;}
nav ul {padding-top: 20px;text-align: center;}
nav ul li {display: inline;}
nav ul li a {color: black;text-transform: uppercase;font-weight: 700;text-decoration: none;padding: 0 20px;}

/* Multimedia */
.banner {height: 300px;width: 75%;margin: 0 auto;position: relative;}
.banner h1 {position:absolute;left: 30px;bottom: 20px;color: white;text-shadow: 1px 2px 4px black;font-family: 'Playfair Display', serif;font-size: 36px;}
.banner img{height: 300px;width: 100%;object-fit: cover;}
.video {margin: 20 auto;text-align: center;}
.video iframe {margin: 0 auto}
.imagen, .imagen_vertical {display: inline-block;}
.imagen img{height: 300px;width: 50%;float: right;margin-left: 30px;margin-top: 20px;margin-bottom: 20px;}
.imagen_vertical img{height: 600px;float: right;margin-left: 30px;margin-top: 20px;margin-bottom: 20px;}

/* Text */
.h2 {left: 30px;bottom: 20px;color: black;text-shadow: 0 1px 0 black;font-family: 'Playfair Display', serif;font-size: 24px;}
.h2 a{color:black; text-decoration: none;}
.texto {left: 30px;bottom: 20px;color: black;text-shadow: 0 1px 0 black;font-family: 'Playfair Display', serif;font-size: 20px;margin-top: 30px;font-weight: 400;}
.cita {font-style: italic;}
.boton {font-size: 18px;font-weight:700;background:rgb(205, 195, 191);padding: 10px 50px;border-radius: 5px;color:black; text-decoration: none;margin-top: 30px;display: inline-block;text-transform: uppercase}
.text-center {text-align: center;width: 100%;}
.enlace li{margin-top: 10px;}
.enlace li a{color: black;font-size: 18px;}

/* Footer */
footer {background: black;width: 100%;padding: 10px;color:white;text-align: center;margin-top: 40px;}

/* Media queries */
@media (max-width: 768px) {
    iframe {
        width: 100% !important;
    }
    .banner, main, nav {
        width: 97% !important;
    }
    nav ul {
        padding-left: 0;
    }
    nav ul li a {
        padding: 0 10px;
        font-size: 15px;
    }
    .imagen img {
        height: 270px;
        width: auto;
    }
  }